*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 1200px;
    margin: 0 auto;
}

header{
   
    background-image:linear-gradient(130deg,#606f7d, #8e9dab ) ;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(130deg,#000000, #666666);
    display: flex;
    box-shadow: 0 0 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: all 3s ease;
    font-family: Copperplate, Papyrus, fantasy;


   


}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
   
}


nav a{
    display: block;
    padding: 10px;
    color: rgba(255,255,255,.8);
    font-size: 1.125em;
    border-radius: 10px;
    transition: all .5s ease;
    text-decoration: none;
    border:1px solid #000000;


}

nav a:hover{
    background-color: rgb(93, 24, 172);
   
}

header h2{
    color: white;

}
header span{
    color: rgb(93, 24, 172);
    font-size: 15px;
   
}

.banner img{
    width: 1200px;

}

.abaixo_do_banner{
    padding: 20px;
    background-color: #000000;
    color: rgb(93, 24, 172);
    text-align: center;
    font-size: 20px;
    font-family: Copperplate, Papyrus, fantasy;
    margin-top: -5px;
}

.content{
    width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: Copperplate, Papyrus, fantasy;
}

.geral1{
    display: flex;
}

.coluna1{
    background-color: rgb(93, 24, 172);
    text-align:center ;
}

.coluna1 h1{
  color: #e6ccef;
  margin-top: 50px;

}

.coluna1 p{
    color: white;
}

.geral2{
    display: flex;
    margin-top: 50px;
}

.coluna3 img{
 margin-left: 20px;
 

}

.coluna4{
    margin-top: 50px;
}

.coluna4 img{
    margin-left: 60px;
    
   
   }

.coluna5{
    margin-top: 48px;
}

.coluna5 img{
    margin-left: 20px;
    
   
   }